# Core Libraries
numpy>=1.24
pandas
scipy

# Visualization
matplotlib
seaborn

# Machine Learning & Deep Learning
scikit-learn
tensorflow>=2.15
keras
keras-tuner

# Image Processing
opencv-python

# Jupyter & Notebook Support
jupyter
ipykernel
ipywidgets
